<div
  class="card bg-base-200 flex flex-col items-center gap-3 rounded-xl shadow-xl w-2/3 mx-auto p-3"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-32 text-error"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
    />
  </svg>
  <h1 class="card-title text-4xl justify-center">خطأ في البيانات</h1>
  <p class="card-body text-xl text-center">{{ error?.message }}</p>
  <button class="btn btn-primary" (click)="toggleErrorDetails()">تفاصيل</button>
  <div *ngIf="showDetails">{{ error?.details }}</div>
</div>
